:root{
    --fs-title: 5rem;
    --fs-start: 1rem;
    --fs-footer: 1rem;
}

body{
    text-align: center;
    font-family: 'Space Mono', monospace !important;
    color: white;
    background-color: black;
    text-align: center;
}

.title-container{
    margin: 2% 0 5%;
}

.page-title{
    font-weight: bold;
    font-size: var(--fs-title);
}

#start-button{
    color: white;
    font-size: var(--fs-start);
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

#start-button:hover{
    background-color: rgb(212, 212, 212);
    transition: .5s;
}

#start-button:active{
    background-color: black;
}

.container{
    position: relative;
    height: 60vh;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
}

.buttons-container button{
    width: 40%;
    padding-bottom: 40%;
    position: relative;
    border-radius: 10%;
    box-sizing: border-box;
}


#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

.blink{
    border: 3px solid rgb(255, 255, 255);
}


.buttons-container button:active{
    opacity:0.7;
}

.line{
    margin: 10px auto;
    width: 40%;
    background-color: white;
    height: 0.8px;
}



@media (max-width: 768px){
    :root{
        --fs-title:4rem;
        --fs-start: 1rem;
        --fs-footer: 1rem;
    }

    .buttons-container{
        width: 70% !important;
        margin: 15% auto;
    }
}

@media (max-width: 480px){
    :root{
        --fs-title:4rem;
        --fs-start: 1rem;
        --fs-footer: 0.8rem;
    }
    .buttons-container{
        width: 100% !important;
        margin: 30% auto;
    }
    #start-button{
        border: 1px solid white !important;
    }
}

@media (max-width: 363px){
    :root{
        --fs-title:3rem;
        --fs-start: 1rem;
        --fs-footer: 0.8rem;
    }
    .buttons-container{
        width: 100% !important;
        margin: 30% auto;
    }
    #start-button{
        border: 1px solid white !important;
    }
}